body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #2e9aff;
  color: #fff;
  padding: 10px 0 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 0.2vw solid #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 0 0 25vw;
}

.imgprofile {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 20vw;
  background: #2e9aff;
  border-right: 0.2vw solid #fff;
  border-bottom: 0.2vw solid #fff;
}

ul#menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

ul#menu .menu-item {
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s;
  font-family: "Roboto Slab", serif;
  font-size: 1.5vw;
}

ul#menu .menu-item.active {
  background: #263cc9;
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

main {
  perspective: 1000px;
}

.section {
  display: none;
  padding: 0;
  transition: transform 0.5s ease-in-out;
  transform-origin: center right;
}

.section.active {
  display: block;
  transform: scale(1);
}

#education {
  background-color: rgb(0, 8, 255);
}
#portfolio {
  background-color: rgb(255, 0, 225);
}
#contact {
  background-color: rgb(255, 140, 0);
}

/* ----------------home--------------*/
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background-size: cover;
  opacity: 0.8;
}

.firstName {
  font-family: "Roboto Slab", serif;
  font-size: 5vw;
  letter-spacing: 0.5vw;
  word-spacing: 0.5vw;
  color: #2e9aff;
  font-weight: 900;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.animatedText,
.animatedText2 {
  display: inline-block;
  font-size: 3vw;
  position: relative;
  opacity: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.animatedText {
  color: #ffffff;
  margin-left: 1vw;
}

.animatedText2 {
  color: #2e9aff;
  margin-right: 1vw;
}

.animatedText::after {
  content: "";
  position: absolute;
  bottom: -0.5vw; /* Poziționează subliniarea sub text */
  height: 0.1vw; /* Grosimea sublinierii */
  left: -40%; /* Aliniază la stânga */
  width: 140%; /* Face sublinierea să aibă aceeași lungime ca textul */
  background-color: #ffffff; /* Culoarea sublinierii */
}

.animatedText2::after {
  content: "";
  position: absolute;
  bottom: -0.5vw; /* Poziționează subliniarea sub text */
  height: 0.1vw; /* Grosimea sublinierii */
  left: 0; /* Aliniază la stânga */
  width: 150%; /* Face sublinierea să aibă aceeași lungime ca textul */
  background-color: #2e9aff; /* Culoarea sublinierii */
}

.lastName {
  font-family: "Roboto Slab", serif;
  font-size: 5vw;
  letter-spacing: 0.5vw;
  word-spacing: 0.5vw;
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.logo {
  padding-top: 8vw;
  padding-left: 6vw;
  z-index: 2;
}

/* ---------------about me------------- */

#about {
  margin-top: 5vh;
  display: flex;
  overflow: auto;
}

.title-about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 5vw;
  color: white;
  background-color: #263cc9;
  border-radius: 0 90% 0 50%;
  margin: 2.5vw 15vw 0 22vw;
  padding: 3vw 0;
}

.profile-pic {
  margin: 0 auto;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic h3 {
  font-family: "Roboto Slab", serif;
  font-size: 4vw;
  color: #2e9aff;
  text-decoration: underline;
  text-decoration-color: #263cc9;
}

.skills {
  display: flex;
}

li {
  list-style: none;
  padding: 2vw 0;
}

.skills-high1 li,
.skills-high2 li {
  font-family: "Roboto Slab", serif;
  font-size: 1.5vw;
}

.skills-high1 li i,
.skills-high2 li i {
  margin: 1vw;
  font-size: 4vw;
  color: #2e9aff;
}

@media (max-width: 768px) {
  .profile-pic img {
    width: 150px;
  }
}

/* -------------------experience------------------- */

#experience {
  margin-top: 10vh;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.timeline {
  width: auto;
  margin: 0 auto;
  padding: 6vh 3vw;
}

.timeline-header {
  text-align: center;
  margin-bottom: 20px;
}

.timeline-header h2 {
  font-size: 6vw;
  color: #333;
  border-bottom: 0.1vw solid #00aaff;
  display: inline-block;
  padding-bottom: 5px;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  padding-left: 2vw;
  position: relative;
}
.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.1vw; /* lățimea liniei */
  background-color: #00aaff; /* culoarea liniei */
  margin-left: 1vw;
}

.timeline-year {
  /* flex: 0 0 80px; */
  font-size: 2vw;
  color: #00aaff;
  position: relative;
  padding-bottom: 0.9vw;
}

.timeline-year1 {
  /* flex: 0 0 80px; */
  font-size: 2vw;
  color: #00aaff;
  position: relative;
  padding-top: 0.9vw;
}

.timeline-content {
  background-color: #fff;
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  position: relative;
}

.timeline-content h3 {
  margin: 0;
  font-size: 5vw;
  color: white;
}

.timeline-content .company {
  font-size: 4vw;
  color: #00aaff;
  margin: 5px 0;
}

.text1 {
  font-size: 3vw;
}

.timeline-item:last-child {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding-left: 3vw;
  }
  ul#menu {
    display: none;
    flex-direction: column;
    background: #2e9aff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 40%;
  }
  ul#menu .menu-item {
    padding: 15px;
    border-bottom: 1px solid white;
    font-size: 3vw;
  }
  ul#menu.active {
    display: flex;
  }
  .burger-menu {
    display: block;
  }
  .imgprofile {
    position: relative;
  }
}
