body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-size: cover;
  background: no-repeat;
  background: linear-gradient(to bottom, #333333, #ffffff);
}

ul,
li {
  padding: 0;
}

.section {
  display: none;
}

.section.active {
  display: block;
  transform-origin: center;
}

/* Animații personalizate dacă este necesar */
@keyframes zoomIn {
  0% {
    transform: scale(0.5) translateX(100%);
    opacity: 0;
    filter: blur(10px);
    transform-origin: center;
  }
  50% {
    filter: blur(5px);
  }
  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
    filter: blur(0);
    transform-origin: center;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1) translateX(0);
    opacity: 1;
    filter: blur(0);
    transform-origin: center;
  }
  50% {
    filter: blur(5px);
  }
  100% {
    transform: scale(0.5) translateX(-100%);
    opacity: 0;
    filter: blur(10px);
    transform-origin: center;
  }
}

.animate__zoomIn {
  animation: zoomIn 1s forwards;
  transform-origin: center;
}

.animate__zoomOut {
  animation: zoomOut 1s forwards;
  transform-origin: center;
}

header {
  color: #fdfdfd;
  padding: 0.2vw 0 0.2vw 0;
  margin-left: 15vw;
  position: fixed;
  padding-right: 3vw;
  top: 0;
  z-index: 1000;
  border-radius: 0 0 35% 35%;
  padding-top: 2vh;
  background-color: transparent; /* Fundal transparent inițial */
  transition: background-color 0.3s; /* Tranziție lină */
}

header.scrolled {
  background-color: rgba(86, 84, 84, 0.618); /* Fundal semi-transparent */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  padding: 0 0 0 2vw;
}

.imgprofile {
  position: absolute;
  top: 0;
  left: -15vw;
  width: 15vw;
  border-right: 0.8vw solid transparent;
  border-bottom: 0.8vw solid transparent;
  border-radius: 0 0 55% 55%;
  background: transparent;
}

ul#menu {
  list-style: none;
  display: flex;
  gap: 2vw;
  margin: 0;
  padding: 0;
}

ul#menu .menu-item {
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Roboto Slab", serif;
  font-size: 1.8vw;
  font-weight: bold;
  padding: 1vw;
}

ul#menu .menu-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.789);
  color: #000000;
  border-radius: 20% 75% 20% 75%;
  font-weight: bold;
  padding: 0 3vw;
  animation: rotateIn 0.3s forwards;
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
    background-color: transparent;
    color: inherit;
  }
  to {
    transform: rotate(360deg);
    background-color: rgba(0, 89, 255, 0.5);
    color: white;
  }
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

main {
  perspective: 1000px;
}

.section {
  display: none;
  padding: 0;
  transition: transform 0.5s ease-in-out;
  transform-origin: center right;
}

.section.active {
  display: block;
  transform: scale(1);
}

@media (max-width: 768px) {
  nav {
    padding-left: 3vw;
  }
  ul#menu {
    display: none;
    flex-direction: column;
    background: #2e9aff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 40%;
  }
  ul#menu .menu-item {
    padding: 15px;
    border-bottom: 1px solid white;
    font-size: 3vw;
  }
  ul#menu.active {
    display: flex;
  }
  .burger-menu {
    display: block;
  }
  .imgprofile {
    position: relative;
  }
}

/* ----------------home--------------*/

#home {
  height: 100vh;
  background: linear-gradient(to bottom, #333333, #ffffff);
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background-size: cover;
  opacity: 0.8;
}

.firstName {
  font-family: "Roboto Slab", serif;
  font-size: 5vw;
  letter-spacing: 0.5vw;
  word-spacing: 0.5vw;
  color: #007bff;
  font-weight: 900;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.animatedText,
.animatedText2 {
  display: inline-block;
  font-size: 3vw;
  position: relative;
  opacity: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.animatedText {
  color: #ffffff;
  margin-left: 1vw;
}

.animatedText2 {
  color: #007bff;
  margin-right: 1vw;
}

.animatedText::after {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  height: 0.1vw;
  left: -40%;
  width: 140%;
  background-color: #ffffff;
}

.animatedText2::after {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  height: 0.1vw;
  left: 0;
  width: 150%;
  background-color: #007bff;
}

.lastName {
  font-family: "Roboto Slab", serif;
  font-size: 5vw;
  letter-spacing: 0.5vw;
  word-spacing: 0.5vw;
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.logo {
  padding-top: 8vw;
  padding-left: 6vw;
  z-index: 2;
}

/* ---------------about me------------- */

#about {
  margin-top: 10vh;
  /* display: flex;
  overflow: auto; */
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-about h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.889);
  background-color: rgba(0, 89, 255, 0.5);
  border-radius: 0 90% 0 50%;
  padding: 2vw 18vw;
  border-bottom: 0.2vw solid #090000;
}

.profile-pic {
  margin: 0 auto;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 121, 252, 0.2);

  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-pic h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2vw;
  font-weight: bold;
  color: #002b54;
  text-decoration: underline;
  text-decoration-color: #002b54;
}

.skills {
  display: flex;
  flex-direction: column-reverse;
}

li {
  list-style: none;
}

.skills-high1 li,
.skills-high2 li {
  font-family: "Roboto Slab", serif;
  font-size: 1.1vw;
  padding: 1vw;
  font-weight: bold;
  color: rgba(8, 0, 0, 0.625);
}

.skills-high1 li i,
.skills-high2 li i {
  margin: 1vw;
  font-size: 2vw;
  color: #002b54;
}

.about-content {
  margin: 3vw 21vw;
  /* padding: 3vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 121, 252, 0.2);
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary {
  margin: 0 auto;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: auto;
}

.about-content h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2vw;
  color: #002b54;
  text-decoration: underline;
  text-decoration-color: #002b54;
  font-weight: bold;
}

.highlight {
  font-weight: bold;
  color: #263cc9;
  font-family: "Roboto Slab", serif;
  font-size: 1.5vw;
  margin-left: 2vw;
}

.indented {
  font-family: "Roboto Slab", serif;
  font-size: 1.1vw;
  display: block;
  margin-left: 2.7vw;
  margin-bottom: 2vw;
  font-weight: bold;
  color: rgba(8, 0, 0, 0.625);
}
@media (max-width: 768px) {
  .profile-pic img {
    width: 150px;
  }
}

/* -------------------experience------------------- */

#experience {
  margin-top: 10vh;
  height: 100vh;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.timeline {
  width: auto;
  margin: 0 auto;
  padding: 0vh 21vw;
}

.timeline-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0vh 21vw;
}

.timeline-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.889);
  background-color: rgba(0, 89, 255, 0.5);
  border-radius: 0 90% 0 50%;
  padding: 2vw 18vw;
  border-bottom: 0.2vw solid #090000;
}

.timeline-item {
  display: flex;
  height: auto;
  align-items: flex-start;
  padding-left: 2vw;
  position: relative;
}
.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.1vw;
  background-color: #002b54;
  margin-left: 1vw;
}

.timeline-year {
  font-size: 2vw;
  color: #002b54;
  position: relative;
  padding-bottom: 0.9vw;
}

.timeline-year1 {
  font-size: 2vw;
  color: #002b54;
  position: relative;
  padding-top: 0.9vw;
  margin-bottom: 4vh;
}

.timeline-content {
  background-color: rgba(50, 121, 252, 0.2);
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  position: relative;
}

.timeline-content h3 {
  margin: 0;
  font-size: 2.5vw;
  color: #002b54;
  text-decoration: underline;
  text-decoration-color: #002b54;
}

.timeline-content .company {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.589);
  text-decoration-color: rgba(255, 255, 255, 0.589);
}

.text1 {
  font-size: 1.8vw;
  font-weight: bold;
  color: rgba(8, 0, 0, 0.625);
}

.timeline-item:last-child {
  display: none;
}

/* -------------------------education---------------------- */

#education {
  margin-top: 10vh;
}

.content-education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-education h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.889);
  background-color: rgba(0, 89, 255, 0.5);
  border-radius: 0 90% 0 50%;
  padding: 2vw 18vw;
  border-bottom: 0.2vw solid #090000;
}

.subtitle-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(50, 121, 252, 0.2);
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.subtitle-education h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2.5vw;
  color: #002b54;
  text-decoration: underline;
  text-decoration-color: #002b54;
}
.subtitle-education p {
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  font-size: 2.1vw;
  padding: 1vw;
  color: rgba(255, 255, 255, 0.589);
}

.subtitle-education2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin: 3vw 21vw;
  background-color: rgba(50, 121, 252, 0.2);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subtitle-education2 h3 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 2.5vw;
  color: #002b54;
  text-decoration: underline;
  text-decoration-color: #002b54;
}

.subtitle-education2 h4 {
  font-family: "Roboto Slab", serif;
  font-size: 2.1vw;
  padding: 1vw;
  padding: 0 4vw;
  color: rgba(255, 255, 255, 0.589);
}

.subtitle-education2 p {
  font-family: "Roboto Slab", serif;
  font-size: 2.1vw;
  padding: 1vw 4vw;
  font-weight: bold;
  color: rgba(8, 0, 0, 0.625);
}

/* -------------------------POTFOLIO---------------------- */

#portfolio {
  margin-top: 10vh;
  height: 100vh;
}

.content-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-portfolio h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.889);
  background-color: rgba(0, 89, 255, 0.5);
  border-radius: 0 90% 0 50%;
  padding: 2vw 18vw;
  border-bottom: 0.2vw solid #090000;
}

#contact {
  height: 100vh;
}
